<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>玄幻奇幻小说_分类频道_新笔趣阁</title>
<meta name="keywords" content="好看的小说,玄幻小说,奇幻小说,在线阅读,玄幻奇幻小说,免费小说" />
<meta name="description" content="读书阁武侠修真书库频道，汇集各类精品小说，为读者提供包括玄幻奇幻小说,武侠小说,网游小说,都市小说,历史军事小说等内容" />
<link rel="stylesheet" href="css/css.css" />
</head>
<body>
<div id="wrapper">
	<div class="ywtop">
        <div class="ywtop_con">
			<span>欢迎来到万书楼小说网，手机请访问</span><span class="shouji"><a href="#">m.shouji.com</a></span><span><a href="#">登陆</a></span><span>|</span><span><a href="#">免费注册</a></span><span>|</span><span><a href="#">找回密码</a></span>
            <span><a href="#">我的书架</a></span>
        </div>
    </div>
	<div class="header">
    	<div class="logo"><img src="images/logo.png" width="199" height="59" /></div>
    </div>
	<div class="clear"></div>
	<div class="nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/evercase.html">永久书架</a></li>
            <li><a href="/xclass/1/1.html">玄幻奇幻</a></li>
            <li><a href="/xclass/2/1.html">武侠仙侠</a></li>
            <li><a href="/xclass/3/1.html">都市言情</a></li>
            <li><a href="/xclass/4/1.html">历史军事</a></li>
            <li><a href="/xclass/5/1.html">科幻灵异</a></li>
            <li><a href="/xclass/6/1.html">网游竞技</a></li>
            <li><a href="/xclass/7/1.html">女频频道</a></li>
            <li><a href="/quanben/">完本小说</a></li>
            <li><a href="/xbqgph.html">排行榜单</a></li>
            <li><a href="/xbqgcase.html">临时书架</a></li>
        </ul>
    </div>
        <div id="main">
            <div id="hotcontent">
                <div class="ll">
                    
                            <div class="item">
                                <div class="image">
                                    <a href="/0_434/">
                                        <img src="/BookFiles/BookImages/11s.jpg"
                                            alt="一等家丁" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        纯情犀利哥
                                    </span><a href="/0_434/">
                                        一等家丁
                                    </a></dt>
                                    <dd>
                                        见过比贵族还猖狂的家丁吗？见过比纨绔还嚣张的家丁吗？见过比帝王还霸气的家丁吗？见过勾搭自家小姐的家丁吗？见过坐拥倾城祸水的家丁吗？许枫...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="image">
                                    <a href="/0_345/">
                                        <img src="/BookFiles/BookImages/42392s.jpg"
                                            alt="剑动九天" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        孤单地飞
                                    </span><a href="/0_345/">
                                        剑动九天
                                    </a></dt>
                                    <dd>
                                        玄乾大陆，宗门林立，强者无数。    少年周恒凭丹田中一把神秘黑色断剑，从原石小镇而出，在这个大世中战出了一片天地。    穷凶极恶者，杀！    ...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="image">
                                    <a href="/0_313/">
                                        <img src="/BookFiles/BookImages/11s(1).jpg"
                                            alt="无尽丹田" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        横扫天涯
                                    </span><a href="/0_313/">
                                        无尽丹田
                                    </a></dt>
                                    <dd>
                                        气海，修炼者纳气的根本；丹田，天赋、化气的基础。天赋高者，一个气海往往漂浮数个丹田。丹田越多，天赋越高，纳气、化气的速度也就越快。人一生的气...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="image">
                                    <a href="/0_304/">
                                        <img src="/BookFiles/BookImages/11s(2).jpg"
                                            alt="龙血战神" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        风青阳
                                    </span><a href="/0_304/">
                                        龙血战神
                                    </a></dt>
                                    <dd>
                                        相传，远古时期的龙祭大陆，是太古神龙的天下，时至今日，神龙灭绝殆尽。
    龙辰，原本是一无是处的纨绔子弟，却因为父亲所遗留的神秘玉佩，吞...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="image">
                                    <a href="/0_175/">
                                        <img src="/BookFiles/BookImages/11s(3).jpg"
                                            alt="武法无天" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        乾拾
                                    </span><a href="/0_175/">
                                        武法无天
                                    </a></dt>
                                    <dd>
                                        十大基因链大师，狂人乔无法因为争夺【永恒星核】，以求凝炼小宇宙，意外身毁。附身在军部闲职将军的纨绔儿子身上，化身乔无天，开启了一段嚣张，霸...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                            <div class="item">
                                <div class="image">
                                    <a href="/0_36/">
                                        <img src="/BookFiles/BookImages/2952453.jpg"
                                            alt="完美世界" width="120" height="150" /></a></div>
                                <dl>
                                    <dt><span>
                                        辰东
                                    </span><a href="/0_36/">
                                        完美世界
                                    </a></dt>
                                    <dd>
                                        一粒尘可填海，一根草斩尽日月星辰，弹指间天翻地覆。
    群雄并起，万族林立，诸圣争霸，乱天动地。问苍茫大地，谁主沉浮？！
    一个少年从大...
                                    </dd>
                                </dl>
                                <div class="clear">
                                </div>
                            </div>
                        
                </div>
            </div>
            <div id="newscontent">
                  <div class="l">
                    <h2> 好看的玄幻奇幻最近更新列表</h2>
                    <ul>
                        
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/3_3713/"
                                        target="_blank">万古至尊</a></span><span
                                            class="s3"><a href="/3_3713/8624444.html"
                                                target="_blank">第1792章 忧心忡忡</a></span><span
                                                    class="s4">太一生水</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/19_19857/"
                                        target="_blank">混沌造化神诀</a></span><span
                                            class="s3"><a href="/19_19857/1253352.html"
                                                target="_blank">第一百九十八章 苏美姬的师父</a></span><span
                                                    class="s4">星空下的孤狼</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/9_9616/"
                                        target="_blank">极品小郡王</a></span><span
                                            class="s3"><a href="/9_9616/8946952.html"
                                                target="_blank">第八百零七章 失去价值的女人</a></span><span
                                                    class="s4">一语不语</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/14_14812/"
                                        target="_blank">邪逆九天</a></span><span
                                            class="s3"><a href="/14_14812/8443041.html"
                                                target="_blank">两百四十四章 神秘墓穴</a></span><span
                                                    class="s4">九天邪少</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/9_9429/"
                                        target="_blank">九星杀神</a></span><span
                                            class="s3"><a href="/9_9429/8946950.html"
                                                target="_blank">第一千一百二十四章 洞府出世</a></span><span
                                                    class="s4">铁马飞桥</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/27_27870/"
                                        target="_blank">霸血神皇</a></span><span
                                            class="s3"><a href="/27_27870/1752596.html"
                                                target="_blank">第二百九十二章 是谁找死</a></span><span
                                                    class="s4">仙音大魔王</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/13_13355/"
                                        target="_blank">诛魂记</a></span><span
                                            class="s3"><a href="/13_13355/7648233.html"
                                                target="_blank">第二百二十九章:幽冥青蟒</a></span><span
                                                    class="s4">七尺书生</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/20_20695/"
                                        target="_blank">罪世西游</a></span><span
                                            class="s3"><a href="/20_20695/1339150.html"
                                                target="_blank">第一百八十九章:重见天日</a></span><span
                                                    class="s4">不哭天命</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/16_16831/"
                                        target="_blank">不为妖君</a></span><span
                                            class="s3"><a href="/16_16831/9309803.html"
                                                target="_blank">七十七章 深入 上</a></span><span
                                                    class="s4">蔚蓝妖孽</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/22_22110/"
                                        target="_blank">雄霸神荒</a></span><span
                                            class="s3"><a href="/22_22110/1540890.html"
                                                target="_blank">第一千五百二十九章 高歌之伤</a></span><span
                                                    class="s4">刀落</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/6_6556/"
                                        target="_blank">终极军神</a></span><span
                                            class="s3"><a href="/6_6556/8160447.html"
                                                target="_blank">危急特情</a></span><span
                                                    class="s4">过河卒</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/11_11990/"
                                        target="_blank">武斗天途</a></span><span
                                            class="s3"><a href="/11_11990/8988922.html"
                                                target="_blank">第四百五十七章 蛮横无理</a></span><span
                                                    class="s4">西瓜男孩</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/18_18479/"
                                        target="_blank">最逍遥</a></span><span
                                            class="s3"><a href="/18_18479/1253350.html"
                                                target="_blank">第二百九十八章 心结</a></span><span
                                                    class="s4">拔剑四顾</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/19_19221/"
                                        target="_blank">八荒圣祖</a></span><span
                                            class="s3"><a href="/19_19221/1253349.html"
                                                target="_blank">第0244章 红血天鸾血脉</a></span><span
                                                    class="s4">涛声依旧</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/3_3637/"
                                        target="_blank">极品女仙</a></span><span
                                            class="s3"><a href="/3_3637/8624442.html"
                                                target="_blank">第三千二百四十六章 许星繁闭...</a></span><span
                                                    class="s4">金铃动</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/24_24666/"
                                        target="_blank">超级土豪系统</a></span><span
                                            class="s3"><a href="/24_24666/1702377.html"
                                                target="_blank">第九百一十一章 又见铜像</a></span><span
                                                    class="s4">万剑灵</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/27_27032/"
                                        target="_blank">修罗变</a></span><span
                                            class="s3"><a href="/27_27032/1752592.html"
                                                target="_blank">第九十九章 巨灵果</a></span><span
                                                    class="s4">烟花甲</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/12_12479/"
                                        target="_blank">拳魔邪灵</a></span><span
                                            class="s3"><a href="/12_12479/7648229.html"
                                                target="_blank">第二百九十九章 战争开始,杨...</a></span><span
                                                    class="s4">逆转天蓝</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/11_11954/"
                                        target="_blank">机械军团纵横修真世界</a></span><span
                                            class="s3"><a href="/11_11954/8988917.html"
                                                target="_blank">第七百零五章 来自仙道大军的...</a></span><span
                                                    class="s4">以惰七少</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/14_14101/"
                                        target="_blank">不死战皇</a></span><span
                                            class="s3"><a href="/14_14101/8443040.html"
                                                target="_blank">第四十八章 大道之痕</a></span><span
                                                    class="s4">月下放歌</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/17_17050/"
                                        target="_blank">万古独尊</a></span><span
                                            class="s3"><a href="/17_17050/9309801.html"
                                                target="_blank">0163章 蛮宫圣姑</a></span><span
                                                    class="s4">潇潇凉公子</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/19_19357/"
                                        target="_blank">洪荒之道长</a></span><span
                                            class="s3"><a href="/19_19357/1253346.html"
                                                target="_blank">第一百三十七章 色胆抱天</a></span><span
                                                    class="s4">黑夜传奇</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/31_31698/"
                                        target="_blank">霸者天下</a></span><span
                                            class="s3"><a href="/31_31698/1936140.html"
                                                target="_blank">第八章:与虎谋皮</a></span><span
                                                    class="s4">静-待风起</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/17_17502/"
                                        target="_blank">圣人门徒</a></span><span
                                            class="s3"><a href="/17_17502/9309800.html"
                                                target="_blank">第三百四十章 气死柳致远。</a></span><span
                                                    class="s4">寂寞读南华</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/13_13498/"
                                        target="_blank">无上登天</a></span><span
                                            class="s3"><a href="/13_13498/7648226.html"
                                                target="_blank">第一百零七章 坚持</a></span><span
                                                    class="s4">云中飞龙</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/24_24065/"
                                        target="_blank">绝世帝祖</a></span><span
                                            class="s3"><a href="/24_24065/1702376.html"
                                                target="_blank">第604章 叶无修</a></span><span
                                                    class="s4">老衲吃肉</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/26_26763/"
                                        target="_blank">武道吃货</a></span><span
                                            class="s3"><a href="/26_26763/1752589.html"
                                                target="_blank">壹佰零五章 冰皇!酒鬼!</a></span><span
                                                    class="s4">老楼与猫</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/27_27656/"
                                        target="_blank">潜龙武帅</a></span><span
                                            class="s3"><a href="/27_27656/1752588.html"
                                                target="_blank">第七百一十三章 神界最高会议</a></span><span
                                                    class="s4">话舌</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/12_12853/"
                                        target="_blank">武魂王座</a></span><span
                                            class="s3"><a href="/12_12853/7648223.html"
                                                target="_blank">第四二八章 烈风灵罡,暴风巨...</a></span><span
                                                    class="s4">燕回</span><span
                                                        class="s5">11-06</span></li>
                            
                                <li><span class="s1">[玄幻奇幻]</span><span
                                    class="s2"><a href="/16_16315/"
                                        target="_blank">轮回王</a></span><span
                                            class="s3"><a href="/16_16315/9309799.html"
                                                target="_blank">第一百七十九章 八卦金丹</a></span><span
                                                    class="s4">李一凡</span><span
                                                        class="s5">11-06</span></li>
                            
                    </ul>
                </div>
                 
    
<div class="r">
    <h2>
        好看的玄幻奇幻小说
    </h2>
    <ul>
        
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_311/">灵域</a></span><span
                        class="s5">逆苍天</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6096/">武神天下</a></span><span
                        class="s5">禹枫</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_36/">完美世界</a></span><span
                        class="s5">辰东</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_142/">大主宰</a></span><span
                        class="s5">天蚕土豆</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_347/">武炼巅峰</a></span><span
                        class="s5">莫默</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_576/">无敌天下</a></span><span
                        class="s5">神见</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3690/">三界独尊</a></span><span
                        class="s5">犁天</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5637/">神魔天尊</a></span><span
                        class="s5">九当家</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3954/">上古强身术</a></span><span
                        class="s5">我是多余人</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span

                    class="s2"><a href="/7_7797/">焚天之怒</a></span><span
                        class="s5">妖夜</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/2_2278/">斗罗大陆</a></span><span
                        class="s5">唐家三少</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5422/">择天记</a></span><span
                        class="s5">猫腻</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/2_2232/">绝世邪神</a></span><span
                        class="s5">纯情犀利哥</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_838/">主宰之王</a></span><span
                        class="s5">快餐店</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_460/">剑道独神</a></span><span
                        class="s5">六道沉沦</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3713/">万古至尊</a></span><span
                        class="s5">太一生水</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6704/">无上神王</a></span><span
                        class="s5">草根</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/1_1367/">武动乾坤</a></span><span
                        class="s5">天蚕土豆</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5690/">儒道至圣</a></span><span
                        class="s5">永恒之火</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/8_8109/">帝霸</a></span><span
                        class="s5">厌笔萧生</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/1_1421/">神印王座</a></span><span
                        class="s5">唐家三少</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/12_12415/">妖神记</a></span><span
                        class="s5">发飙的蜗牛</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6373/">造化之王</a></span><span
                        class="s5">猪三不</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5634/">血狱魔帝</a></span><span
                        class="s5">夜行月</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5417/">史上第一祖师爷</a></span><span
                        class="s5">八月飞鹰</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3812/">神控天下</a></span><span
                        class="s5">我本纯洁</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_701/">武神空间</a></span><span
                        class="s5">傅啸尘</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5353/">灵鼎</a></span><span
                        class="s5">心碎梦思迁</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/13_13034/">玄天魂尊</a></span><span
                        class="s5">暗魔师</span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_345/">剑动九天</a></span><span
                        class="s5">孤单地飞</span></li>
            
    </ul>
</div>

                 <div class="clear"></div>
            </div>
        </div>
        
	<div class="footer">
        <div class="footer_cont">
            <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
            <p>Copyright © 2014 新笔趣阁 皖ICP备14016221号-5</p>
        </div>
    </div>
</div>
</body>
</html>