<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
	临时书架只记录最新100部浏览过的小说-新笔趣阁
</title><link rel="stylesheet" href="css/css.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bqg.js"></script>
    <script language="javascript" type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <div id="wrapper">
        
<script type="text/javascript">
       function doSearch(){
	 var str=document.getElementById("txtKeyWord").value;
	 if(str!="" && str!="可搜书名和作者，请您少字也别输错字。"){
		 window.open("http://s.xbiquge.com/cse/search?s=4124306082634765852&q="+str);
         }
	 else{
             alert("请输入关键字！");
         }
       }
</script>
<script>login();</script>
<div class="header">
    <div class="header_logo">
        <a href="http://www.xbiquge.com">新笔趣阁</a>
    </div>
    <div class="header_search">
        <input class="search" id="txtKeyWord" name="keyword" type="text"  maxlength="30"
            value="可搜书名和作者，请您少字也别输错字。" title="请正确输入" onfocus="this.style.color = '#000000';this.focus();if(this.value=='可搜书名和作者，请您少字也别输错字。'){this.value='';}"
             ondblclick="javascript:this.value=''" />
        <input type="button" class="searchBtn" value="搜索" title="搜索" onclick="doSearch()" />
    </div>
    <div class="userpanel"><script language="javascript" src="/js/banner.js"></script></div>
</div>
<div class="clear"></div>
<div class="nav">
    <ul>
     <li><a href="/">首页</a></li>
     <li><a href="/evercase.html">永久书架</a></li>
    <li><a href="/xclass/1/1.html">玄幻奇幻</a></li>
    <li><a href="/xclass/2/1.html">武侠仙侠</a></li>
    <li><a href="/xclass/3/1.html">都市言情</a></li>
    <li><a href="/xclass/4/1.html">历史军事</a></li>
    <li><a href="/xclass/5/1.html">科幻灵异</a></li>
    <li><a href="/xclass/6/1.html">网游竞技</a></li>
    <li><a href="/xclass/7/1.html">女频频道</a></li>
        <li><a href="/quanben/">完本小说</a></li>
        <li><a href="/xbqgph.html">排行榜单</a></li>
        <li><a href="/xbqgcase.html">临时书架</a></li>
    </ul>
</div>
        <div id="main">
            <div class="novelslist2">
                <h2> 临时书架 - 用户浏览过的小说会自动保存到书架中（只限同一电脑）</h2>
                <ul>
                    <li><span class="s1"><b>序号</b></span> <span class="s2"><b>小说名称</b></span> <span class="s4">
                        <b>作者</b></span> <span class="s3"><b>最新章节</b></span> <span class="s5"><b>上次阅读章节</b></span>
                        <span class="s6"><b>更新时间</b></span> <span class="s7"><b>操作</b></span> </li>
                    
                            <li><span class="s1">
                                1
                            </span><span class="s2"><a href="/0_434/"
                                target="_blank">
                                一等家丁
                            </a></span><span class="s4">
                                纯情犀利哥
                            </span><span class="s3"><a style="color: Red;" href="/0_434/1105271.html"
                                target="_blank" title="第2257章 轮回">
                                第2257章 轮回
                            </a></span><span class="s5"><a bookid="434"
                                href="/0_434/"
                                target="_blank"></a></span><span class="s6">
                                    05-29
                                </span><span class="s7"><a onclick="clearCookies(434)"
                                    href="#"><font color="#ff0000">删除</font></a> </span></li>
                        
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
        
<div class="footer">
    <div class="footer_link">
        <p>
            <a href="http://www.xbiquge.com">自动访问新笔趣阁</a><span>|</span>新笔趣阁每天最快更新！<span>|</span>
        </p>
    </div>
    <div class="footer_cont">
        <p>
            本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        <p>
            Copyright © 2014
            新笔趣阁
            皖ICP备14016221号-5</p>
       <script>footer();</script>
    </div>
</div>

    </div>
</body>
</html>
