<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
	小说人气月榜-小说排行榜-新笔趣阁
</title>
    <script type="text/javascript" src="/js/bqg.js"></script>    <link rel="stylesheet" href="css/css.css" /></head>
<body>
    <div id="wrapper">
        
<script type="text/javascript">
       function doSearch(){
	 var str=document.getElementById("txtKeyWord").value;
	 if(str!="" && str!="可搜书名和作者，请您少字也别输错字。"){
		 window.open("http://s.xbiquge.com/cse/search?s=4124306082634765852&q="+str);
         }
	 else{
             alert("请输入关键字！");
         }
       }
</script>
<script>login();</script>
<div class="header">
    <div class="header_logo">
        <a href="http://www.xbiquge.com">新笔趣阁</a>
    </div>
    <div class="header_search">
        <input class="search" id="txtKeyWord" name="keyword" type="text"  maxlength="30"
            value="可搜书名和作者，请您少字也别输错字。" title="请正确输入" onfocus="this.style.color = '#000000';this.focus();if(this.value=='可搜书名和作者，请您少字也别输错字。'){this.value='';}"
             ondblclick="javascript:this.value=''" />
        <input type="button" class="searchBtn" value="搜索" title="搜索" onclick="doSearch()" />
    </div>
    <div class="userpanel"><script language="javascript" src="/js/banner.js"></script></div>
</div>
<div class="clear"></div>
<div class="nav">
    <ul>
     <li><a href="/">首页</a></li>
     <li><a href="/evercase.html">永久书架</a></li>
    <li><a href="/xclass/1/1.html">玄幻奇幻</a></li>
    <li><a href="/xclass/2/1.html">武侠仙侠</a></li>
    <li><a href="/xclass/3/1.html">都市言情</a></li>
    <li><a href="/xclass/4/1.html">历史军事</a></li>
    <li><a href="/xclass/5/1.html">科幻灵异</a></li>
    <li><a href="/xclass/6/1.html">网游竞技</a></li>
    <li><a href="/xclass/7/1.html">女频频道</a></li>
        <li><a href="/quanben/">完本小说</a></li>
        <li><a href="/xbqgph.html">排行榜单</a></li>
        <li><a href="/xbqgcase.html">临时书架</a></li>
    </ul>
</div>
        <div id="main">
            
<div class="novelslist2">
    <h2>
        小说人气月榜
    </h2>
    <ul>
        <li><span class="s1"><b>作品分类</b></span> <span class="s2"><b>作品名称</b></span> <span class="s3"><b>最新章节</b></span>
            <span class="s4"><b>作者</b></span> <span class="s5"><b>点击</b></span> <span class="s6"><b>更新时间</b></span>
            <span class="s7"><b>状态</b></span> </li>
        
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/4_4093/"
                        target="_blank">超品相师</a></span><span
                            class="s3"><a href="/4_4093/10126947.html"
                                target="_blank">第一千七百六十七章 乱象现</a></span><span
                                    class="s4">九灯和善</span>
                    <span class="s5">
                        402757
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/1_1339/"
                        target="_blank">我欲封天</a></span><span
                            class="s3"><a href="/1_1339/8800285.html"
                                target="_blank">第1419章 扎根!</a></span><span
                                    class="s4">耳根</span>
                    <span class="s5">
                        391426
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_311/"
                        target="_blank">灵域</a></span><span
                            class="s3"><a href="/0_311/8800280.html"
                                target="_blank">第一千七百四十七章 星空焦点</a></span><span
                                    class="s4">逆苍天</span>
                    <span class="s5">
                        373401
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/1_1717/"
                        target="_blank">造化之门</a></span><span
                            class="s3"><a href="/1_1717/8800284.html"
                                target="_blank">第一二二三章 找上门来</a></span><span
                                    class="s4">鹅是老五</span>
                    <span class="s5">
                        271729
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6096/"
                        target="_blank">武神天下</a></span><span
                            class="s3"><a href="/6_6096/8160385.html"
                                target="_blank">第一千七百零九章:大凶之地</a></span><span
                                    class="s4">禹枫</span>
                    <span class="s5">
                        265912
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_36/"
                        target="_blank">完美世界</a></span><span
                            class="s3"><a href="/0_36/8800226.html"
                                target="_blank">第一千五百三十四章 杀回帝关</a></span><span
                                    class="s4">辰东</span>
                    <span class="s5">
                        265647
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/5_5861/"
                        target="_blank">护花高手在都市</a></span><span
                            class="s3"><a href="/5_5861/10092871.html"
                                target="_blank">新书《我老婆是校花》已经上传</a></span><span
                                    class="s4">心在流浪</span>
                    <span class="s5">
                        263246
                    </span><span class="s6">
                        07-04
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_573/"
                        target="_blank">官道无疆</a></span><span
                            class="s3"><a href="/0_573/8800288.html"
                                target="_blank">第十九卷 江山如此多娇 第一...</a></span><span
                                    class="s4">瑞根</span>
                    <span class="s5">
                        249976
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_142/"
                        target="_blank">大主宰</a></span><span
                            class="s3"><a href="/0_142/8800255.html"
                                target="_blank">第一千八十五章 借头</a></span><span
                                    class="s4">天蚕土豆</span>
                    <span class="s5">
                        241081
                    </span><span class="s6">
                        11-06

                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_347/"
                        target="_blank">武炼巅峰</a></span><span
                            class="s3"><a href="/0_347/8800282.html"
                                target="_blank">第两千五百七十七章 长老</a></span><span
                                    class="s4">莫默</span>
                    <span class="s5">
                        210377
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_547/"
                        target="_blank">我的贴身校花</a></span><span
                            class="s3"><a href="/0_547/8800243.html"
                                target="_blank">5353悠闲</a></span><span
                                    class="s4">带玉</span>
                    <span class="s5">
                        203180
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/4_4672/"
                        target="_blank">都市无上仙医</a></span><span
                            class="s3"><a href="/4_4672/10126954.html"
                                target="_blank">第一千一百六十七章 无法逃避</a></span><span
                                    class="s4">断桥残雪</span>
                    <span class="s5">
                        177571
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_576/"
                        target="_blank">无敌天下</a></span><span
                            class="s3"><a href="/0_576/8800278.html"
                                target="_blank">第一千三百五十七章 和黄小龙...</a></span><span
                                    class="s4">神见</span>
                    <span class="s5">
                        169283
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3690/"
                        target="_blank">三界独尊</a></span><span
                            class="s3"><a href="/3_3690/8624423.html"
                                target="_blank">第1952章 突破,天位七重</a></span><span
                                    class="s4">犁天</span>
                    <span class="s5">
                        161021
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_344/"
                        target="_blank">最强弃少</a></span><span
                            class="s3"><a href="/0_344/8100679.html"
                                target="_blank">中,最高修为是什么</a></span><span
                                    class="s4">鹅是老五</span>
                    <span class="s5">
                        152730
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5637/"
                        target="_blank">神魔天尊</a></span><span
                            class="s3"><a href="/5_5637/10126903.html"
                                target="_blank">第一千两百零七章 离去</a></span><span
                                    class="s4">九当家</span>
                    <span class="s5">
                        144847
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3954/"
                        target="_blank">上古强身术</a></span><span
                            class="s3"><a href="/3_3954/1027555.html"
                                target="_blank">第2492章 大结局 完本感言</a></span><span
                                    class="s4">我是多余人</span>
                    <span class="s5">
                        144431
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[科幻灵异]</span><span
                    class="s2"><a href="/1_1374/"
                        target="_blank">吞噬星空</a></span><span
                            class="s3"><a href="/1_1374/7482727.html"
                                target="_blank">完本感言以及番茄新书的讯息!</a></span><span
                                    class="s4">我吃西红柿</span>
                    <span class="s5">
                        135814
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/3_3482/"
                        target="_blank">俗人回档</a></span><span
                            class="s3"><a href="/3_3482/8624366.html"
                                target="_blank">第895章 安静的美男子 求月.....</a></span><span
                                    class="s4">庚不让</span>
                    <span class="s5">
                        126895
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/7_7797/"
                        target="_blank">焚天之怒</a></span><span
                            class="s3"><a href="/7_7797/8160432.html"
                                target="_blank">第一百一十三章 变态的古树</a></span><span
                                    class="s4">妖夜</span>
                    <span class="s5">
                        115271
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/2_2278/"
                        target="_blank">斗罗大陆</a></span><span
                            class="s3"><a href="/2_2278/1037216.html"
                                target="_blank">第三百三十六章 大结局,最后...</a></span><span
                                    class="s4">唐家三少</span>
                    <span class="s5">
                        112083
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/3_3459/"
                        target="_blank">红色风流</a></span><span
                            class="s3"><a href="/3_3459/6859909.html"
                                target="_blank">第三百二十七章 薛家二百五</a></span><span
                                    class="s4">想见江南</span>
                    <span class="s5">
                        109998
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/1_1376/"
                        target="_blank">仙逆</a></span><span
                            class="s3"><a href="/1_1376/8671602.html"
                                target="_blank">第2088章 蓦然回首 结局</a></span><span
                                    class="s4">耳根</span>
                    <span class="s5">
                        104547
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/9_9648/"
                        target="_blank">超级黄金指</a></span><span
                            class="s3"><a href="/9_9648/8946699.html"
                                target="_blank">第一千零九十四章 再见菲利普...</a></span><span
                                    class="s4">道门弟子</span>
                    <span class="s5">
                        102085
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5422/"
                        target="_blank">择天记</a></span><span
                            class="s3"><a href="/5_5422/10126920.html"
                                target="_blank">第十二章 所思</a></span><span
                                    class="s4">猫腻</span>
                    <span class="s5">
                        98865
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/2_2232/"
                        target="_blank">绝世邪神</a></span><span
                            class="s3"><a href="/2_2232/8624431.html"
                                target="_blank">2963 死亡之海</a></span><span
                                    class="s4">纯情犀利哥</span>
                    <span class="s5">
                        97448
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_838/"
                        target="_blank">主宰之王</a></span><span
                            class="s3"><a href="/0_838/8800289.html"
                                target="_blank">第1575章 考核满分</a></span><span
                                    class="s4">快餐店</span>
                    <span class="s5">
                        97142
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/6_6526/"
                        target="_blank">三生道诀</a></span><span
                            class="s3"><a href="/6_6526/7685134.html"
                                target="_blank">第二二七一章 造化</a></span><span
                                    class="s4">鹅是老五</span>
                    <span class="s5">
                        94830
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_460/"
                        target="_blank">剑道独神</a></span><span
                            class="s3"><a href="/0_460/8800283.html"
                                target="_blank">14 最后的准备 上</a></span><span
                                    class="s4">六道沉沦</span>
                    <span class="s5">
                        94656
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[科幻灵异]</span><span
                    class="s2"><a href="/0_786/"
                        target="_blank">星战风暴</a></span><span
                            class="s3"><a href="/0_786/8800268.html"
                                target="_blank">第二十四章 悬崖边上要做什么...</a></span><span
                                    class="s4">骷髅精灵</span>
                    <span class="s5">
                        94235
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/0_146/"
                        target="_blank">魔天记</a></span><span
                            class="s3"><a href="/0_146/8800271.html"
                                target="_blank">第六卷群魔乱舞 1431请战</a></span><span
                                    class="s4">忘语</span>
                    <span class="s5">
                        91502
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3713/"
                        target="_blank">万古至尊</a></span><span
                            class="s3"><a href="/3_3713/8624414.html"
                                target="_blank">第1791章 潜入</a></span><span
                                    class="s4">太一生水</span>
                    <span class="s5">
                        90007
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_497/"
                        target="_blank">财色无边</a></span><span
                            class="s3"><a href="/0_497/8667134.html"
                                target="_blank">第一千六百零九章胜利者的权...</a></span><span
                                    class="s4">我杀破狼</span>
                    <span class="s5">
                        89563
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6704/"
                        target="_blank">无上神王</a></span><span
                            class="s3"><a href="/6_6704/8160397.html"
                                target="_blank">第一千六百三十三章 一脉古地</a></span><span
                                    class="s4">草根</span>
                    <span class="s5">
                        89018
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/3_3475/"
                        target="_blank">都市之最强纨绔</a></span><span
                            class="s3"><a href="/3_3475/8624418.html"
                                target="_blank">第两千两百一十六章 无法淡定</a></span><span
                                    class="s4">左耳思念</span>
                    <span class="s5">
                        87963
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/9_9186/"
                        target="_blank">天火大道</a></span><span
                            class="s3"><a href="/9_9186/8946861.html"
                                target="_blank">第七百四十一章 都给我闭嘴</a></span><span
                                    class="s4">唐家三少</span>
                    <span class="s5">
                        85382
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/1_1367/"
                        target="_blank">武动乾坤</a></span><span
                            class="s3"><a href="/1_1367/1015662.html"
                                target="_blank">新书大主宰已发。</a></span><span
                                    class="s4">天蚕土豆</span>
                    <span class="s5">
                        84998
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/7_7747/"
                        target="_blank">医统江山</a></span><span
                            class="s3"><a href="/7_7747/8160298.html"
                                target="_blank">第五百四十三章 风云际会 上</a></span><span
                                    class="s4">石章鱼</span>
                    <span class="s5">
                        84593
                    </span><span class="s6">
                        11-05
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/1_1619/"
                        target="_blank">绝品透视</a></span><span
                            class="s3"><a href="/1_1619/8798601.html"
                                target="_blank">第1477章 大结局</a></span><span
                                    class="s4">小妖</span>
                    <span class="s5">
                        84184
                    </span><span class="s6">
                        10-31
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/2_2107/"
                        target="_blank">桃运狂医</a></span><span
                            class="s3"><a href="/2_2107/6516187.html"
                                target="_blank">神医天下-4530宇宙之神 大结...</a></span><span
                                    class="s4">水里游鱼</span>
                    <span class="s5">
                        83708
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/5_5856/"
                        target="_blank">近身兵王</a></span><span
                            class="s3"><a href="/5_5856/10126916.html"
                                target="_blank">第1544章 大做文章</a></span><span
                                    class="s4">月下吟</span>
                    <span class="s5">
                        83573
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/1_1366/"
                        target="_blank">凡人修仙传</a></span><span
                            class="s3"><a href="/1_1366/8676307.html"
                                target="_blank">凡人外传,免费章节即将放出!</a></span><span
                                    class="s4">忘语</span>
                    <span class="s5">
                        83567
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5690/"
                        target="_blank">儒道至圣</a></span><span
                            class="s3"><a href="/5_5690/10126877.html"
                                target="_blank">第1070章 海中河</a></span><span
                                    class="s4">永恒之火</span>
                    <span class="s5">
                        80928
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/8_8109/"
                        target="_blank">帝霸</a></span><span
                            class="s3"><a href="/8_8109/8946890.html"
                                target="_blank">第1242章空间挪移</a></span><span
                                    class="s4">厌笔萧生</span>
                    <span class="s5">
                        79574
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/2_2881/"
                        target="_blank">官途</a></span><span
                            class="s3"><a href="/2_2881/7155804.html"
                                target="_blank">16 遭遇刁难</a></span><span
                                    class="s4">梦入洪荒</span>
                    <span class="s5">
                        78619
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/1_1605/"
                        target="_blank">乡野诱惑</a></span><span
                            class="s3"><a href="/1_1605/7170456.html"
                                target="_blank">第681章 大牌合伙人 补2</a></span><span
                                    class="s4">青椒豆腐</span>
                    <span class="s5">
                        75328
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/1_1421/"
                        target="_blank">神印王座</a></span><span
                            class="s3"><a href="/1_1421/1030976.html"
                                target="_blank">新书:斗罗大陆II《绝世唐门》开...</a></span><span
                                    class="s4">唐家三少</span>
                    <span class="s5">
                        75091
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/1_1365/"
                        target="_blank">遮天</a></span><span
                            class="s3"><a href="/1_1365/8678767.html"
                                target="_blank">我的新书《完美世界》已上传,请...</a></span><span
                                    class="s4">辰东</span>
                    <span class="s5">
                        74536
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/0_452/"
                        target="_blank">斩仙</a></span><span
                            class="s3"><a href="/0_452/8798379.html"
                                target="_blank">完本感言</a></span><span
                                    class="s4">任怨</span>
                    <span class="s5">
                        73216
                    </span><span class="s6">
                        10-30
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/5_5716/"
                        target="_blank">极品戒指</a></span><span
                            class="s3"><a href="/5_5716/8091457.html"
                                target="_blank">366章 回归平凡 大结局</a></span><span
                                    class="s4">不是蚊子</span>
                    <span class="s5">
                        72625
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/0_681/"
                        target="_blank">大圣传</a></span><span
                            class="s3"><a href="/0_681/8800112.html"
                                target="_blank">第一百零四章 玩笑</a></span><span
                                    class="s4">说梦者</span>
                    <span class="s5">
                        71322
                    </span><span class="s6">
                        11-05
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/12_12415/"
                        target="_blank">妖神记</a></span><span
                            class="s3"><a href="/12_12415/7648054.html"
                                target="_blank">第三百三十二章 拜师</a></span><span
                                    class="s4">发飙的蜗牛</span>
                    <span class="s5">
                        70475
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[网游竞技]</span><span
                    class="s2"><a href="/3_3232/"
                        target="_blank">重生之贼行天下</a></span><span
                            class="s3"><a href="/3_3232/6295529.html"
                                target="_blank">第一一一章 合成</a></span><span
                                    class="s4">发飙的蜗牛</span>
                    <span class="s5">
                        69536
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/6_6373/"
                        target="_blank">造化之王</a></span><span
                            class="s3"><a href="/6_6373/8160436.html"
                                target="_blank">第925章 如虎添翼</a></span><span
                                    class="s4">猪三不</span>
                    <span class="s5">
                        69011
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/11_11222/"
                        target="_blank">巫界术士</a></span><span
                            class="s3"><a href="/11_11222/8988785.html"
                                target="_blank">第六百八十八章 千棘雷鸟</a></span><span
                                    class="s4">文抄公</span>
                    <span class="s5">
                        67146
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5634/"
                        target="_blank">血狱魔帝</a></span><span
                            class="s3"><a href="/5_5634/1225669.html"
                                target="_blank">完本感言</a></span><span
                                    class="s4">夜行月</span>
                    <span class="s5">
                        66353
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/2_2204/"
                        target="_blank">校园绝品狂徒</a></span><span
                            class="s3"><a href="/2_2204/7058403.html"
                                target="_blank">1985 功德圆满</a></span><span
                                    class="s4">柳江南</span>
                    <span class="s5">
                        65665
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/0_28/"
                        target="_blank">抗日之兵魂传说</a></span><span
                            class="s3"><a href="/0_28/8778596.html"
                                target="_blank">第二三七三章结局也是开始 全...</a></span><span
                                    class="s4">丑牛1985</span>
                    <span class="s5">
                        65620
                    </span><span class="s6">
                        08-30
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5417/"
                        target="_blank">史上第一祖师爷</a></span><span
                            class="s3"><a href="/5_5417/10126913.html"
                                target="_blank">1400.事出反常必有妖</a></span><span
                                    class="s4">八月飞鹰</span>
                    <span class="s5">
                        64869
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_627/"
                        target="_blank">绝世高手在都市</a></span><span
                            class="s3"><a href="/0_627/8800183.html"
                                target="_blank">第二千三百五十三章 为了忘却...</a></span><span
                                    class="s4">浪荡邪少</span>
                    <span class="s5">
                        64452
                    </span><span class="s6">
                        11-05
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_947/"
                        target="_blank">首席御医</a></span><span
                            class="s3"><a href="/0_947/7637286.html"
                                target="_blank">请原谅银子</a></span><span
                                    class="s4">银河九天</span>
                    <span class="s5">
                        62333
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_701/"
                        target="_blank">武神空间</a></span><span
                            class="s3"><a href="/0_701/8800212.html"
                                target="_blank">第三千两百八十八章 娥皇之谋</a></span><span
                                    class="s4">傅啸尘</span>
                    <span class="s5">
                        60874
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3812/"
                        target="_blank">神控天下</a></span><span
                            class="s3"><a href="/3_3812/1124004.html"
                                target="_blank">第1630章 天域蛊族</a></span><span
                                    class="s4">我本纯洁</span>
                    <span class="s5">
                        60806
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5353/"
                        target="_blank">灵鼎</a></span><span
                            class="s3"><a href="/5_5353/10126942.html"
                                target="_blank">第两千六百四十八章:三手准备...</a></span><span
                                    class="s4">心碎梦思迁</span>
                    <span class="s5">
                        60635
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/9_9845/"
                        target="_blank">三国之召唤猛将</a></span><span
                            class="s3"><a href="/9_9845/8946853.html"
                                target="_blank">六百三十五 生离死别</a></span><span
                                    class="s4">青铜剑客</span>
                    <span class="s5">
                        59856
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/13_13034/"
                        target="_blank">玄天魂尊</a></span><span
                            class="s3"><a href="/13_13034/7648062.html"
                                target="_blank">第0721章 武帝尸骸</a></span><span
                                    class="s4">暗魔师</span>
                    <span class="s5">
                        59408
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_345/"
                        target="_blank">剑动九天</a></span><span
                            class="s3"><a href="/0_345/1078975.html"
                                target="_blank">完本感言</a></span><span
                                    class="s4">孤单地飞</span>
                    <span class="s5">
                        58649
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/1_1295/"
                        target="_blank">泡妞大宗师</a></span><span
                            class="s3"><a href="/1_1295/8198760.html"
                                target="_blank">第01671章 茅草剑出击</a></span><span
                                    class="s4">嚣张农民</span>
                    <span class="s5">
                        57439
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/4_4676/"
                        target="_blank">仙路春秋</a></span><span
                            class="s3"><a href="/4_4676/10126886.html"
                                target="_blank">第一千九百八十三章 无惧天道...</a></span><span
                                    class="s4">高慕遥</span>
                    <span class="s5">
                        56349
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/0_692/"
                        target="_blank">百炼成仙</a></span><span
                            class="s3"><a href="/0_692/5884942.html"
                                target="_blank">第四千二百二十章 大结局</a></span><span
                                    class="s4">幻雨</span>
                    <span class="s5">
                        55825
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/2_2956/"
                        target="_blank">绝世官途</a></span><span
                            class="s3"><a href="/2_2956/3161469.html"
                                target="_blank">第975章、新的传奇 大结局</a></span><span
                                    class="s4">气欲难量</span>
                    <span class="s5">
                        55338
                    </span><span class="s6">
                        05-30
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/6_6766/"
                        target="_blank">农家仙田</a></span><span
                            class="s3"><a href="/6_6766/8160360.html"
                                target="_blank">第700章 体验画坊别墅</a></span><span
                                    class="s4">南山隐士</span>
                    <span class="s5">
                        55232
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/4_4738/"
                        target="_blank">天才纨绔</a></span><span
                            class="s3"><a href="/4_4738/10104406.html"
                                target="_blank">猪猪新书《天才邪少》已发,求各...</a></span><span
                                    class="s4">陌上猪猪</span>
                    <span class="s5">
                        54916
                    </span><span class="s6">
                        08-26
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/6_6411/"
                        target="_blank">上位</a></span><span
                            class="s3"><a href="/6_6411/6040902.html"
                                target="_blank">第十七章 :生活在于折腾 三</a></span><span
                                    class="s4">寂寞鸦片</span>
                    <span class="s5">
                        53843
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_518/"
                        target="_blank">官场之风流人生</a></span><span
                            class="s3"><a href="/0_518/6737391.html"
                                target="_blank">新书《大荒蛮神》已开通上传</a></span><span
                                    class="s4">更俗</span>
                    <span class="s5">
                        53154
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        完成
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5354/"
                        target="_blank">重生之青云直上</a></span><span
                            class="s3"><a href="/5_5354/10125993.html"
                                target="_blank">第二千五百四十四章 辉煌与成...</a></span><span
                                    class="s4">浪子边城</span>
                    <span class="s5">
                        52313
                    </span><span class="s6">
                        10-31
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_190/"
                        target="_blank">绝命诱惑</a></span><span
                            class="s3"><a href="/0_190/3468639.html"
                                target="_blank">第二百零七章 重回人间</a></span><span
                                    class="s4">心梦无痕</span>
                    <span class="s5">
                        51971
                    </span><span class="s6">
                        05-30
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_226/"
                        target="_blank">吞噬苍穹</a></span><span
                            class="s3"><a href="/0_226/1162175.html"
                                target="_blank">第二千一百七十八章 中兴鸿蒙</a></span><span
                                    class="s4">虾米XL</span>
                    <span class="s5">
                        51610
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/3_3284/"
                        target="_blank">官妖</a></span><span
                            class="s3"><a href="/3_3284/6762591.html"
                                target="_blank">铁杆加群31379872 最后的话</a></span><span
                                    class="s4">青云之路无终点</span>
                    <span class="s5">
                        51487
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/2_2807/"
                        target="_blank">很纯很暧昧</a></span><span
                            class="s3"><a href="/2_2807/7659269.html"
                                target="_blank">第两千三百八十四章 特别章 4</a></span><span
                                    class="s4">鱼人二代</span>
                    <span class="s5">
                        51403
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/1_1414/"
                        target="_blank">重生之红星传奇</a></span><span
                            class="s3"><a href="/1_1414/8655007.html"
                                target="_blank">第一五八六章 番外八、大结局</a></span><span
                                    class="s4">豫西山人</span>
                    <span class="s5">
                        51257
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/0_313/"
                        target="_blank">无尽丹田</a></span><span
                            class="s3"><a href="/0_313/8800272.html"
                                target="_blank">第两千二百章 宗门合并</a></span><span
                                    class="s4">横扫天涯</span>
                    <span class="s5">
                        51164
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/3_3443/"
                        target="_blank">符皇</a></span><span
                            class="s3"><a href="/3_3443/5672815.html"
                                target="_blank">第一千七百六十章 灭杀帝君</a></span><span
                                    class="s4">萧瑾瑜</span>
                    <span class="s5">
                        50943
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/9_9647/"
                        target="_blank">和嫂子同居的日子</a></span><span
                            class="s3"><a href="/9_9647/6747100.html"
                                target="_blank">第五百零七章 破天神拳</a></span><span
                                    class="s4">秦长青</span>
                    <span class="s5">
                        50184
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_115/"
                        target="_blank">误入官场</a></span><span
                            class="s3"><a href="/0_115/6757072.html"
                                target="_blank">新书上传</a></span><span
                                    class="s4">可大可小</span>
                    <span class="s5">
                        50096
                    </span><span class="s6">
                        06-01
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_537/"
                        target="_blank">官榜</a></span><span
                            class="s3"><a href="/0_537/8795633.html"
                                target="_blank">第4073章不得其门</a></span><span
                                    class="s4">隐为者</span>
                    <span class="s5">
                        49742
                    </span><span class="s6">
                        10-16
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[武侠仙侠]</span><span
                    class="s2"><a href="/21_21838/"
                        target="_blank">九仙图</a></span><span
                            class="s3"><a href="/21_21838/1339144.html"
                                target="_blank">第一千两百四十六章 值得尊敬</a></span><span
                                    class="s4">秋晨</span>
                    <span class="s5">
                        49324
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/9_9734/"
                        target="_blank">宝瞳</a></span><span
                            class="s3"><a href="/9_9734/8946939.html"
                                target="_blank">第九百七十二章 赌牌争夺战 ...</a></span><span
                                    class="s4">东人</span>
                    <span class="s5">
                        49315
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/3_3441/"
                        target="_blank">我为王</a></span><span
                            class="s3"><a href="/3_3441/8624385.html"
                                target="_blank">第一千二百六十五章:继往开来...</a></span><span
                                    class="s4">枪手1号</span>
                    <span class="s5">
                        48898
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/7_7542/"
                        target="_blank">极限武尊</a></span><span
                            class="s3"><a href="/7_7542/8160428.html"
                                target="_blank">第一千四百三十四章 毒蝎之心</a></span><span
                                    class="s4">欧阳晕</span>
                    <span class="s5">
                        48456
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[都市言情]</span><span
                    class="s2"><a href="/0_780/"
                        target="_blank">校花的贴身高手</a></span><span
                            class="s3"><a href="/0_780/8800300.html"
                                target="_blank">第4924章 还不束手就擒</a></span><span
                                    class="s4">鱼人二代</span>
                    <span class="s5">
                        46939
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/9_9933/"
                        target="_blank">逆天邪神</a></span><span
                            class="s3"><a href="/9_9933/8946868.html"
                                target="_blank">第531章 莫非有阴谋?</a></span><span
                                    class="s4">火星引力</span>
                    <span class="s5">
                        46287
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/0_938/"
                        target="_blank">大明武夫</a></span><span
                            class="s3"><a href="/0_938/8800181.html"
                                target="_blank">第1346章 雨打风吹去</a></span><span
                                    class="s4">特别白</span>
                    <span class="s5">
                        46089
                    </span><span class="s6">
                        11-05
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[历史军事]</span><span
                    class="s2"><a href="/1_1399/"
                        target="_blank">官居一品</a></span><span
                            class="s3"><a href="/1_1399/8639967.html"
                                target="_blank">十年 七</a></span><span
                                    class="s4">三戒大师</span>
                    <span class="s5">
                        46041
                    </span><span class="s6">
                        06-02
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5740/"
                        target="_blank">无敌药尊</a></span><span
                            class="s3"><a href="/5_5740/10126711.html"
                                target="_blank">第九百九十三章 追随者</a></span><span
                                    class="s4">炖肉大锅菜</span>
                    <span class="s5">
                        46034
                    </span><span class="s6">
                        11-04
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/1_1537/"
                        target="_blank">混沌天体</a></span><span
                            class="s3"><a href="/1_1537/8796429.html"
                                target="_blank">第2413章 三大领主</a></span><span
                                    class="s4">骑着蜗牛去旅行</span>
                    <span class="s5">
                        45286
                    </span><span class="s6">
                        10-21
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/2_2329/"
                        target="_blank">战皇</a></span><span
                            class="s3"><a href="/2_2329/1057747.html"
                                target="_blank">限时免费公告!</a></span><span
                                    class="s4">傲天无痕</span>
                    <span class="s5">
                        44508
                    </span><span class="s6">
                        05-29
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/10_10929/"
                        target="_blank">太古神王</a></span><span
                            class="s3"><a href="/10_10929/8988621.html"
                                target="_blank">第五百零六章 强势杀伐</a></span><span
                                    class="s4">净无痕</span>
                    <span class="s5">
                        44198
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/5_5135/"
                        target="_blank">盗贼王座</a></span><span
                            class="s3"><a href="/5_5135/10126875.html"
                                target="_blank">第六十四章 接连出场</a></span><span
                                    class="s4">雨水</span>
                    <span class="s5">
                        43942
                    </span><span class="s6">
                        11-06
                    </span><span class="s7">
                        连载
                    </span></li>
            
                <li><span class="s1">[玄幻奇幻]</span><span
                    class="s2"><a href="/3_3955/"
                        target="_blank">异世傲天</a></span><span
                            class="s3"><a href="/3_3955/8624354.html"
                                target="_blank">第六百七十九章万宝金参!</a></span><span
                                    class="s4">傲月长空</span>
                    <span class="s5">
                        43106
                    </span><span class="s6">
                        11-05
                    </span><span class="s7">
                        连载
                    </span></li>
            
    </ul>
</div>

            <div class="clear">
            </div>
        </div>
        
<div class="footer">
    <div class="footer_link">
        <p>
            <a href="http://www.xbiquge.com">自动访问新笔趣阁</a><span>|</span>新笔趣阁每天最快更新！<span>|</span>
        </p>
    </div>
    <div class="footer_cont">
        <p>
            本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        <p>
            Copyright © 2014
            新笔趣阁
            皖ICP备14016221号-5</p>
       <script>footer();</script>
    </div>
</div>

    </div>
</body>
</html>
