<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="mobile-agent" content="format=html5; url=http://wap.xbiquge.com" />
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://wap.xbiquge.com" />
    <title>新笔趣阁_书友最值得收藏的网络小说阅读网</title>
    <meta name="keywords" content="新笔趣阁,网络小说,小说阅读网,小说,biquge" />
    <meta name="description" content="新笔趣阁是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
    <link rel="stylesheet" href="css/css.css" />
</head>
<body>